@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

body{
background-image:url('./imgs/background.jpg');
background-size: cover;
background-position: -100%;

}


#container{
   
    display: flex;
    justify-content: space-around;
}

button{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    font-size: 25px;
    color: #c629c9;
    transition: ease 0.5s;
    margin: 20px 20px 60px 20px;
    box-shadow: 0px 0px 12px black;
    
}



.butt1{
    background-image: url(imgs/Rock.webp);
    background-size: 150px 150px;
    padding: 0;
    border: 0;
    

}
.butt2{
    background-image: url(imgs/Paper.webp);
    background-size: 150px 150px;
    padding: 0;
    border: 0;

}
.butt3{
    background-image: url(imgs/Scissors2.webp);
    background-size: 150px 150px;
    padding: 0;
    border: 0;

}

.text{
    font-family: 'Bruno Ace SC', cursive;
    
    text-align: start;
    color: black;
    font-size: 40px;
    margin-bottom: 0;
    text-shadow: 2px 2px 5px black;
}
#texto, #texto2{
    margin: 0px 00px;
    text-align-last: center;
    font-family: 'Bruno Ace SC', cursive;
    text-shadow: 2px 2px 5px black;

}
.active{
    height: 200px;
    width: 200px;
    transition: ease 0.4s;
    background-size: 200px 200px;
    margin: 10px 0px ;
}

